# ignore all logs
*.git

# ignore stuff folders
mug

# ignore Vivado subfolders
fpga/*
# but NOT xpr file
!*.xpr
# and NOT local sources
!fpga/fpga.srcs/**/*.bd
!fpga/fpga.srcs/**/*.bxml
!fpga/fpga.srcs/**/hdl/*
!fpga/fpga.srcs/**/ip/*.xci
!fpga/fpga.srcs/**/ip/*.xml
!fpga/fpga.srcs/*.ui

